@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-fredoka: 'Fredoka', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

:root {
  --oliva-o: #65830B;
  --oliva-c: #87AC17;
}

.oliva-o {
color: var(--oliva-o);
}

.oliva-o-hover:hover {
  color: var(--oliva-o);
}

.bg-oliva-o{
  background-color: var(--oliva-o);
}

.bg-oliva-o-hover:hover{
    background-color: var(--oliva-o);
}

.oliva-c {
  color: var(--oliva-c);
}
      
.oliva-c-hover:hover {
  color: var(--oliva-c);
}
      
.bg-oliva-c{
  background-color: var(--oliva-c);
}

.bg-oliva-c-hover:hover{
  background-color: var(--oliva-c);
}

.font-fredoka {
  font-family: var(--font-fredoka), sans-serif;
}

<<<<<<< HEAD



=======
.keen-slider {
  display: flex;
  overflow-x: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.keen-slider::-webkit-scrollbar {
  display: none; /* WebKit */
}

.keen-slider__slide {
  flex: 0 0 100%;
  min-width: 100%;
  user-select: none;
  gap: 0 !important;
}
>>>>>>> bf2897e7ca8d9dfcf39de055a8d25cf7d089db19

